<ion-view view-title="">

<ion-content class="padding abu">
   
	<div class="list card"  style="margin-top:0px;">

  <div class="item item-avatar abu2">
    <h2 style="white-space: normal;text-align: center;">{{adsDetail.ads_judul}}</h2>
  </div>

	<div class="item item-image abu2">
		<img src="{{adsDetail.ads_poster}}" width="75%" style="max-height:400px;" onerror="this.src='img/gto.png'">  
	</div>
	<div class="item item-body abu2">
		<span class="putih" ng-bind-html="trust(adsDetail.ads_content)"></span>
	</div>
	

</div>
	
</ion-content>

</ion-view>