<ion-view view-title="Simple Crud Ionic & Codeigniter By Dika">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Hello!!!</div>
      <div class="item item-body">
        <div>
          Apa Kabar <b>Bro</b>?
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Simple Crud</div>
      <div class="item item-body">
        <div>
          Ionic Framework & Code Igniter Framework
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Let's Go</div>
      <div class="item item-body">
        <div>
          Selamat menikmati
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
