<ion-view view-title="{{nowDetail.now_judul}} GORONTALO SINEMA">
  <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{nowDetail.now_judul}}</span>
          <div class="mdl-layout-spacer"></div>
          
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            
            <div class="mdl-card__supporting-text">
            
                <p class="padder" style="color: #3F51B5;display: inline-flex;"><i class="material-icons" style="vertical-align: baseline;">query_builder</i> SCHEDULE</p>
                <span ng-bind-html="trust(nowDetail.now_jadwal)"></span>
                
            </div>

              
          </div>
        </div>
        
      </main>
    </div>
</ion-view>