<ion-view view-title="{{soonDetail.soon_judul}} GORONTALO SINEMA">
  <ion-content class="padding abu">
     
    <div class="list card"  style="margin-top:0px;">

    <div class="item item-avatar abu2">
      <h2 style="white-space: normal;text-align: center;">{{soonDetail.soon_judul}}</h2>
    </div>

    <div class="item item-image abu2">
     <img src="{{soonDetail.soon_poster}}" width="75%" height="400px" onerror="this.src='img/gto.png'">  </div>
    <div class="item item-body abu2">
     <p class="padder" style="color: #cfaa7d;"><i class="icon ion-film-marker"></i> MOVIE DETAILS</p>
    <span ng-bind-html="trust(soonDetail.soon_detail)"></span>
    </div>
    <div class="item item-body abu2">
     <p class="padder" style="color: #cfaa7d;"><i class="icon ion-document-text"></i> SYNOPSYS</p>
     <p>{{soonDetail.soon_sinopsis}}</p>
    </div>
    
      

  </div>
    
  </ion-content>
</ion-view>